body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #ff8c00, #c99b3f, #fee961);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 1cm;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff8800;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff8800;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #ff6600;
}

.alert {
    padding: 10px;
    background: #ffdddd;
    border-left: 5px solid red;
    margin-top: 10px;
    display: none;
}
/* beranda */