* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    overflow: hidden;
}

/* ===== INTRO ANIMATION ===== */
#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #171717, #1f1f1f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1s ease forwards;
    animation-delay: 3s;/* durasi intro */
}

.logo1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    animation: pop 1s ease;
}

/* Loading Circle */
.loading {
    width: 60px;
    height: 60px;
    border: 6px solid #444;
    border-top-color: #00eaff;
    border-radius: 50%;
    margin-top: 20px;
    animation: spin 1s linear infinite;
}

.logo1 h6 {
    margin-top: 1px;
    color: #00eaff;
}

/* animasi */
@keyframes spin {
    to {transform: rotate(360deg);}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;visibility: hidden;}
}

@keyframes pop {
    0% {transform: scale(0.5);opacity: 0;}

    100% {transform: scale(1);opacity: 1;}
}

/* ===== MAIN CONTENT ===== */
/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    background: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0;
    /* DISINI FIX */
    transition: 1s;
    /* ANIMASI MUNCUL */
}

.logo2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00eaff;
}

/* MENU LIST */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    position: relative;
    padding: 5px 0;
    transition: 0.3s;
}

/* Efek Hover Neon */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #00eaff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00eaff;
}

.nav-links a:hover::after {
    width: 100%;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .nav-links {gap: 15px;}
    .logo {font-size: 20px;}
    .nav-links a {font-size: 16px;}
}
/* isi halaman pertama */
/* ===== HALAMAN AWAL ===== */
.hero {
    width: 100%;
    height: 100vh;
    background: url('img/bg-salak.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    animation: showHero 1.3s ease forwards;
    animation-delay: 4s;
}

.hero-text h1 {
    font-size: 48px;
    color: #00eaff;
    text-shadow: 0 0 15px #00eaff;
}

.hero-text p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

/* ANIMASI HERO */
@keyframes showHero {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== GALERI SLIDER ===== */
.galeri {
    padding: 60px 20px;
    text-align: center;
}

.galeri h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #00eaff;
}

.slider {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    animation: zoom 2s ease;
}
@keyframes zoom {
    from { transform: scale(1.1); opacity: 0.6; }
    to { transform: scale(1); opacity: 1; }
}
