body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    overflow: hidden;
}

/* ===== INTRO ANIMATION ===== */
#intro {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(135deg, #171717, #1f1f1f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1s ease forwards;
    animation-delay: 7s; /* durasi intro */
}

.logo {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    animation: pop 1s ease;
}

/* Loading Circle */
.loading {
    width: 60px;
    height: 60px;
    border: 6px solid #444;
    border-top-color: #00eaff;
    border-radius: 50%;
    margin-top: 20px;
    animation: spin 1s linear infinite;
}
.logo h6{
    margin-top: 1px;
    color: #00eaff;
}
/* ===== MAIN CONTENT ===== */

/* animasi */
@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
